@model PagedList.IPagedList<universidadContoso.Models.Estudiante>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Estudiantes";
}

<h2>Estudiantes</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Buscar por nombre: @Html.TextBox("busqueda", ViewBag.filtroactual as string)
        <input type="submit" value="Buscar" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Apellido", "Index", new { orden = ViewBag.apellidoOrdenP, filtroactual = ViewBag.filtroactual })
        </th>
        <th>
            Nombre
        </th>
        <th>
            @Html.ActionLink("Fecha Inscripción", "Index", new { orden = ViewBag.fechaOrdenP, filtroactual = ViewBag.filtroactual })
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaInscripcion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, pagina => Url.Action("Index",
    new { pagina, ordenactual = ViewBag.ordenactual, filtroactual = ViewBag.filtroactual }))